
/* info */
.info-box{
  width: 100%;
}
.info{
  display: flex;
  flex-direction: column;
}
.info-title{
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bold;
}
.info-border{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
}
.info-partial{
  display: flex;
  margin-top: 10%;
}
.info-partial-logo{
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
}
.info-partial-text-title{
  color: black;
  font-weight: bold;
}
.info-partial-text{
  font-size: 13px;
  margin-left: 15px;
  color: grey;
}

/* education */
.education-box{
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.education{
  display: flex;
  flex-direction: column;
}
.edu-title{
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bold;
}
.edu-border{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
}
.edu-content{
  display: flex;
  flex-direction: column;
}
.edu-partial{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
.edu-partial-title{
  font-size: 13px;
  font-family: 'sans-serif';
  font-weight: bold;
}
.edu-partial-content{
  margin-top: 3%;
  font-size: 13px;
  line-height: 1.5;
  color: grey;
}
/* skills */
.skills-box{
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.skills{
  display: flex;
  flex-direction: column;
}
.skills-title{
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bold;
}
.skills-border{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
}
.skills-content{
  display: flex;
  flex-direction: column;
  color: grey;
}
ul{
  font-size: 13px;
  padding-left: 15px;
  line-height: 1.5;
}
li{
  margin-bottom: 3px;
}

