.profile{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.pro-title{
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bold;
}
.pro-border{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.pro-content{
  font-size: 15px;
  color: grey;
}
.experience-box{
  margin-top: 5%;
}
.experience{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}
.exp-title{
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bold;
}
.exp-border{
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.exp-content{
  font-size: 15px;
  height: 630px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.exp-partial{
  margin-bottom: 10%;
}
.exp-partial-title{
  font-size: 15px;
  font-weight: 500;
}
.exp-partial-description{
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.5;
  color: grey;
  font-style: italic;
  font-weight: 500;
}
.exp-partial-ul{
  font-size: 15px;
  line-height: 2;
  color: grey;
}
